.hero-text{
    padding: 90px 40px;
    background-color: #005aa1;
    color: #fff;
    line-height: 1.8rem;
}

.hero-img{
    background-image: url(../../assets/img/pilt.jpg);
    background-size: cover;
    background-position: center;
}
.event-col{
    padding: 0;
}

@media only screen and (max-width: 992px) {

    .hero-text{
        padding: 60px 40px;
    }
    .hero-img{
      height: 40vh;
    }
}
@media only screen and (max-width: 572px){
    .hero-img{
        height: 25vh;
      }
}