<div class="container-fluid my-2">
    <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-6 hero-text">
            <p>Lorem ipsum dolor sit amet consectetur <strong>adipisicing elit.</strong> Voluptatibus ratione omnis magnam,  cupiditate? <strong>Perferendis error</strong> fugiat molestias officiis qui rerum autem. Labore repellendus, ipsum deserunt <strong>laudantium, ea facere optio voluptatibus</strong>  accusamus numquam consequatur?</p>
        </div>
        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0 hero-img">
        </div>
    </div>
</div>
<div class="container-fluid my-3">
    <div class="row">
        <div class="col-sm-6 col-md-5 col-lg-6 event-col">
<app-coming-events></app-coming-events>      
        </div>
        <div class="col-sm-6 col-md-5 offset-md-2 col-lg-6 offset-lg-0  event-col">
            <app-past-events></app-past-events>
        </div>
    </div>
</div>
