<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <table>
                <th>Nullam</th>
                <tbody>
                    <tr>Lorem</tr>
                    <tr>ipsum</tr>
                    <tr>dolor</tr>
                    <tr>accusamus </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <table>
                <th>Perferendis </th>
                <tbody>
                    <tr>Labore </tr>
                    <tr>laudantium</tr>
                    <tr>consequatur?</tr>
                    <tr>qui rerum</tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <table>
                <th>Kontakt</th>
                <tbody>
                    <tr><strong>Peakontor:Tallinnas</strong></tr>
                    <tr>Väike- Ameerika 1, 11415 Tallinn</tr>
                    <tr>Telefon: 605 4450</tr>
                    <tr>Faks: 605 3186</tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-3 col-sm-6 col-xs-12">
            <table class="last-column">
                <th><br></th>
                <tbody>
                    <tr><strong>Harukontor: Võrus</strong></tr>
                    <tr>Oja tn 7 (külastusaadress) </tr>
                    <tr>Telefon: 605 3330</tr>
                    <tr>Faks: 605 3155</tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
