<footer>
    <div class="row p-5">
        <div class="col-3">
            <h4>Curabitur</h4>
            <p>Emauris <br> Kfringilla <br> Oin magna sem <br> Kenementum</p>
        </div>
        <div class="col-3">
            <h4>Fusce</h4>
            <p>Econsectetur <br> Ksollicitudin <br> Omvulputate <br> Nunc fringilla tellu</p>
        </div>
        <div class="col-3">
            <h4>Kontakt</h4>
            <p><strong>Peakontor:Tallinnas</strong> <br> Väike- Ameerika 1, 11415 Tallinn <br> Telefon: 605 4450 <br> Faks: 605 3186</p>
        </div>
        <div class="col-3">
            <p></p>
            <p>Harukontor: Võrus <br> Oja tn 7 (külastusaadress) <br> Telefon: 605 3330 <br> Faks: 605 3155</p>
        </div>
    </div>
</footer>