.navbar{
    background-color: #fff;
    padding: 0;
}
.logo{
    width: 138px;
    height: 32px;
    background: url("../../assets/UI_materjal/logo.svg");
    background-size: cover;
    background-position: center;
}


.symbol{
    width: 60px;
    height: 60px;
    background: url("../../assets/UI_materjal/symbol.svg");
    background-size: cover;
    background-position: center;
}




.nav-item{
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link{
  height: 100%;
}

.nav-link.active{
    background: #005aa2;
    color: #fff;
}