.event-box{    
    background: #fff;
    padding: 0;
    margin-right: 10px;
    width: 99%;
}
.header{
width: 100%;
color: #fff;
background-color: #005aa1;
display: flex;
justify-content: center;
align-items: center;
padding: 20px;
}
.btn-add{
    background: transparent;
    color: #000;
    padding: 3px 10px;
    margin: 10px;
}
.btn-add:hover{
    background: #005aa1;
    color: #fff;
}