<div class="container event-box">
    <div class="header">
        <h5>Tulevased üritused</h5>
    </div>
      <table class="table table-boarded">
        <tbody>
          <tr >
            <td>1.</td>
            <td>Event name</td>
            <td>14.02.2023</td>
            <td><a href="#"> OSAVÕTJAD</a></td>
            <td><img src="nullam\src\assets\UI_materjal\remove.svg" alt="" class="remove-btn"></td>
          </tr>
        </tbody>
        <button type="button" class="btn " >LISA ÜRITUS</button> 
      </table>
</div>
