<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <div class="logo"></div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li *ngFor="let nav of navigation" class="nav-item">
                <a class="nav-link" href="#" [routerLink]="nav.path">{{
                  nav.label | uppercase
                }}</a>
              </li>
        </ul>
    </div>
    <div class="symbol"></div>
    </div>
  </nav>